[Unit]
Description=Podman portscribe container
After=network-online.target
StartLimitIntervalSec=300
StartLimitBurst=2

[Container]
Image=localhost/portscribe
ContainerName=portscribe
EnvironmentFile=/srv/portscribe/.env
ReadOnly=yes
Volume=/srv/portscribe/state:/app/state
#Network=host
Network=vpn-bridge.network
#IP=10.55.0.3

User=6002
Group=6002

[Service]
Restart=on-failure
RestartSec=3600

[Install]
WantedBy=multi-user.target
